@using VamosTodos_Test.App.Client.Shared.Pager
@typeparam T where T : class
@inherits PagerBase<T>


@if (PagedResult is not null)
{
	<div class="clearfix">
		<div class="hint-text">Showing <b>@PagedResult.PageSize</b> out of <b>@PagedResult.TotalCount</b> entries</div>
		<ul class="pagination">
			<li class="page-item @(!PagedResult.HasPreviusPage ? "disabled" : "")"><a @onclick="(() => PagerButtonClicked(PagedResult.Page - 1))">Previous</a></li>
			@{
				for (int i = 1; i <= GetPagesNumber(); i++)
				{
					var currentIndex = i;
					<li class="page-item 
                        @(i == PagedResult.Page ? "active" : "")">
						<a @onclick="(() => PagerButtonClicked(currentIndex))" class="page-link">@i</a>
					</li>
				}
			}
			<li class="page-item @(!PagedResult.HasNextPage ? "disabled" : "")"><a @onclick="(() => PagerButtonClicked(PagedResult.Page + 1))" class="page-link">Next</a></li>
		</ul>
	</div>
}
